<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Users list</title>
</head>
<body>
<div th:each="user: ${users}">
    <a th:href="@{/admin/{id}(id=${user.getId()})}" th:text="${user.getName()}">name</a>
</div>

<br/>
<hr/>
<form th:method="GET" th:action="@{/admin/new}">
    <input type="submit" value="Create New User"/>
</form>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="logout"/>
</form>
</body>
</html>


