<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Users list</title>
</head>
<body>
<div class="container-fluid ">
    <nav class="navbar navbar-light bg-dark" style="justify-content: unset"
         th:each="user : ${userInfo}">
        <span class="navbar-brand mb-0 h1" style="color:white"
              th:text="${user.email}">

            Navbar</span>
        <span class="navbar-brand mb-2 md-md-2 h1" style="color:white"
              th:text="'with roles: '+${user.roles}">
        </span>

        <a href="/logout">
            <button type="button" class="btn btn-dark mr float-right"  style="margin-left: 830px">Logout</button>
        </a>

    </nav>
</div>
<!--general body-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1">
            <nav class="nav flex-column">
                <a class="nav-link" href="/admin">Admin</a>
                <a class="nav-link" href="/user">User</a>
            </nav>
        </div>
        <div class="col-10 bg-gray">
            <div class="tab-content" id="v-pills-tabContent" style="padding: 15px 20px 0; height: 100vh">
                <div class="tab-pane fade show active" id="adminPage" role="tabpanel">
                    <div class="container-fluid "><h1>Admin panel</h1></div>

                    <div class="container-fluid ">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">

                                <button class="nav-link active" id="nav-home-tab" data-toggle="tab"
                                        data-target="#nav-home" type="button" role="tab"
                                        aria-controls="nav-home" aria-selected="true">User table
                                </button>


                                <button class="nav-link" id="nav-profile-tab" data-toggle="tab"
                                        data-target="#nav-profile" type="button" role="tab"
                                        aria-controls="nav-profile" aria-selected="false">New user
                                </button>

                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active"
                                 id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <table class="table  table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Lastname</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Roles</th>
                                        <th scope="col">Update</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <div th:each="user: ${users}">
                                    <tr>
                                        <th scope="row" th:text="${user.getId()}">Id
                                        </td>
                                        <td th:text="${user.getName()}">Name</td>
                                        <td th:text="${user.getLastname()}">Lastname</td>
                                        <td th:text="${user.getAge()}">Age</td>
                                        <td th:text="${user.getEmail()}">Email</td>
                                        <td th:text="${user.getRoles()}">Roles</td>
                                        <td>
                                            <!--                        Button trigger modal-->
                                            <button type="button" class="btn btn-info" data-toggle="modal"
                                                    data-target="#editModal"
                                                    th:data-target="${'#editModal'+user.id}">Edit
                                            </button>
                                            <!-- Modal -->
                                            <div aria-hidden="true" aria-labelledby="editModalLabel" id="editModal"
                                                 tabindex="-1" class="modal fade" th:id="${'editModal'+user.id}">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <form th:method="PATCH"
                                                              th:action="@{/admin/{id}(id=${user.id})}"
                                                              th:object="${user}">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="editModalLabel">Edit
                                                                    user</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body text-center">
                                                                <div class="form-group required">
                                                                    <div class="controls">

                                                                        <label for="nameEdit"><b>Name</b></label>
                                                                        <input th:name="name"
                                                                               th:value="${user.name}"
                                                                               th:type="text"
                                                                               class="form-control" id="nameEdit"
                                                                               required/>
                                                                        <br>
                                                                        <label for="lastnameEdit"><b>Last
                                                                            name</b></label>
                                                                        <input th:name="lastname"
                                                                               th:value="${user.lastname}"
                                                                               th:type="text"
                                                                               class="form-control" id="lastnameEdit"
                                                                               required/>
                                                                        <br>
                                                                        <label for="ageEdit"><b>Age</b></label>
                                                                        <input th:name="age" th:value="${user.age}"
                                                                               th:type="number"
                                                                               class="form-control"
                                                                               id="ageEdit"/>
                                                                        <br>
                                                                        <label for="email"><b>Email</b></label>
                                                                        <input th:name="email"
                                                                               th:value="${user.email}"
                                                                               th:type="email"
                                                                               class="form-control" id="email"
                                                                               required/>
                                                                        <br>
                                                                        <label for="username"><b>Username</b></label>
                                                                        <input th:name="username"
                                                                               th:value="${user.username}"
                                                                               th:type="text"
                                                                               class="form-control" id="username"
                                                                               required/>
                                                                        <br>
                                                                        <label for="password"><b>Password</b></label>
                                                                        <input th:name="password"
                                                                               th:value="${user.password}"
                                                                               th:type="password"
                                                                               class="form-control"
                                                                               id="password"/>
                                                                        <br>
                                                                        <label for="roles"><b>Role</b></label>
                                                                        <select class="custom-select custom-select-sm"  id="roles"
                                                                                name="roles">
                                                                            <option th:each="role : ${rolesList}"
                                                                                    th:selected="${role.roleName}"
                                                                                    th:value="${role.id}"
                                                                                    th:text="${role.roleName}">Role name
                                                                            </option>
                                                                        </select>
                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                    class="btn btn-secondary"
                                                                                    data-dismiss="modal">Close
                                                                            </button>
                                                                            <button type="submit"
                                                                                    class="btn btn-primary">
                                                                                Edit
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                            <td>
                                            <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                                                <button type="submit" class="btn-danger">
                                                    Delete
                                                </button>
                                            </form>
                                    </td>

                                    </tr>

                                    </div>
                                    </tbody>
                                </table>
                            </div>

                          <!--New user module-->
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                 aria-labelledby="nav-profile-tab">
                                <form th:method="POST" th:action="@{/admin}" th:object="${user}">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="exampleInputNewName">Name</label>
                                            <input type="name" th:name="name" class="form-control" id="exampleInputNewName" aria-describedby="newNameHelp"  placeholder="Enter Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputNewLastName">Lastname</label>
                                            <input type="newLastName" th:name="lastname" class="form-control" id="exampleInputNewLastName" aria-describedby="newLastNameHelp" placeholder="Enter LastName">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputNewAge">Age</label>
                                            <input type="newAge" th:name="age" class="form-control" id="exampleInputNewAge" aria-describedby="newAgeHelp" placeholder="Enter Age">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputNewMail">Email address</label>
                                            <input type="newMail" th:name="email" class="form-control" id="exampleInputNewMail" aria-describedby="newMailHelp" placeholder="Enter email">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputNewUsername">Username</label>
                                            <input type="newUsername" th:name="username" class="form-control" id="exampleInputNewUsername" aria-describedby="newUsernameHelp" placeholder="Enter username">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputNewPass">Password</label>
                                            <input type="newPass" th:name="password" class="form-control" id="exampleInputNewPass" aria-describedby="newPassHelp" placeholder="Enter password">
                                        </div>

                                        <label >Role</label>
                                        <select class="custom-select custom-select-sm"  id="rolesEdit"
                                                name="roles">
                                            <option th:each="role : ${rolesList}"
                                                    th:selected="${role.roleName}"
                                                    th:value="${role.id}"
                                                    th:text="${role.roleName}">Role name
                                            </option>
                                        </select>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success">Add new User</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
