<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Users list</title>
</head>
<body>
<div class="container-fluid ">
    <nav class="navbar navbar-light bg-dark" style="justify-content: unset"
         th:each="user : ${userInfo}">
        <span class="navbar-brand mb-0 h1" style="color:white"
              th:text="${user.email}">

            Navbar</span>
        <span class="navbar-brand mb-2 md-md-2 h1" style="color:white"
              th:text="'with roles: '+${user.roles}">
        </span>

        <a href="/logout"  >
            <button type="button" class="btn btn-dark mr float-right"  style=" margin-left: 830px">Logout</button>
        </a>

    </nav>
</div>
<!--general body-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1">
            <nav class="nav flex-column">
                <a class="nav-link" href="/user">User</a>
            </nav>
        </div>
        <div class="col-10 bg-gray">
            <div class="tab-content" id="v-pills-tabContent" style="padding: 15px 20px 0; height: 100vh">
                <div class="tab-pane fade show active" id="adminPage" role="tabpanel">
                    <div class="container-fluid "><h1>User information-page</h1></div>

                    <div class="container-fluid ">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <div class="container-fluid "><h5>About user</h5></div>
                                <button class="nav-link active" id="nav-home-tab" data-toggle="tab"
                                        data-target="#nav-home" type="button" role="tab"
                                        aria-controls="nav-home" aria-selected="true">User table
                                </button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active"
                                 id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <table class="table  table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Lastname</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <div th:each="user: ${userInfo}">
                                    <tr>
                                        <th scope="row" th:text="${user.getId()}">Id
                                        </td>
                                        <td th:text="${user.getName()}">Name</td>
                                        <td th:text="${user.getLastname()}">Lastname</td>
                                        <td th:text="${user.getAge()}">Age</td>
                                        <td th:text="${user.getEmail()}">Email</td>
                                        <td th:text="${user.getRoles()}">Role</td>
                                    </tr>
                                    </div>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
